* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 2000px;
}

.navbar {
    border: 2px solid black;
    width: 100%;
    margin-inline: auto;
}
.navbar .box-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .box-navbar .menu-navbar  ul {
    display: flex;
}
.navbar .box-navbar .menu-navbar ul li{
    list-style: none;
    margin-inline: 10px;
    font-size: 20px;
}
.navbar .box-navbar .menu-navbar ul li a {
    text-decoration: none;
    color: black;
}
.kotak2, .kotak3 {
    width: 100%;
}

.kotak2 {
    position: relative;
    display: flex;
    font-size: 30px;
    background-color: red;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    height: 300px;
    text-transform: uppercase;
}
.kotak3 {
    background-color: green;
    height: 400px;
    padding-top: 5px;
    text-align: justify;
}

.kotak3 h3 { 
    font-size: 25px;
}
.kotak3 p {
    padding: 10px;
}

.kotak4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-direction: row;
}
.satu, .dua, .tiga, .empat {
    width: 70px;
    height: 70px;
}

.satu {
    background-color: #fc2727;
}

.dua {
    background-color: aqua;
}

.tiga {
    background-color: yellow;
}

.empat {
    background-color: #05e205;
}